# Pandas for Bitcoin (part 1)
based on the bitquant's tutorial https://github.com/ramoslin02/51bitqunt. here i make a brief summary about the common used Pandas function

In [1]:
# import the dependance 
import pandas as pd
import os

pd.set_option('expand_frame_repr', False)  # 当列太多时不换行
# pd.set_option('display.max_rows', 1000)  # 最多显示行数.
# pd.set_option('precision', 6)  # 浮点数的精度
pd.set_option('display.float_format', lambda x: '%.2f' % x)  # 设置不用科学计数法，保留两位小数.

In [2]:
# read data
df = pd.read_csv(filepath_or_buffer='./asset/1560038820000.csv',
                 usecols=['open_time', 'open', 'close', 'high', 'low', 'volume'])
df.head()

       open_time    open    high     low   close  volume
0  1559978820000 7907.46 7910.61 7905.03 7906.25   12.03
1  1559978880000 7906.42 7912.09 7905.10 7910.13    9.97
2  1559978940000 7908.07 7917.71 7907.00 7914.33   20.82
3  1559979000000 7914.99 7918.59 7912.92 7917.43    7.13
4  1559979060000 7916.52 7918.70 7913.16 7914.09   10.47

## general info
statistic analysis

In [3]:
df.dtypes

open_time      int64
open         float64
high         float64
low          float64
close        float64
volume       float64
dtype: object

In [4]:
df.describe()

             open_time    open    high     low   close  volume
count          1000.00 1000.00 1000.00 1000.00 1000.00 1000.00
mean  1560008790000.00 7893.42 7897.58 7888.90 7893.47   15.89
std        17329166.17   53.35   52.99   54.01   53.40   18.04
min   1559978820000.00 7768.16 7778.40 7751.00 7768.78    1.85
25%   1559993805000.00 7844.88 7848.00 7841.23 7844.89    7.16
50%   1560008790000.00 7904.94 7909.74 7900.12 7905.03   11.40
75%   1560023775000.00 7934.09 7938.84 7930.21 7934.37   18.53
max   1560038760000.00 7997.47 8000.00 7994.81 7998.01  355.35

In [5]:
df.shape

(1000, 6)

In [6]:
for column in df.columns:
    print(column)

open_time
open
high
low
close
volume

In [7]:
# random sample
df.sample(3)

         open_time    open    high     low   close  volume
313  1559997600000 7920.10 7922.50 7916.38 7916.38   11.90
250  1559993820000 7959.30 7966.99 7956.22 7962.88    3.66
585  1560013920000 7819.68 7822.58 7815.03 7822.58   15.87

In [8]:
# sample by fraction
df.sample(frac=3.0/940)

         open_time    open    high     low   close  volume
373  1560001200000 7935.69 7939.97 7930.41 7931.30   16.20
385  1560001920000 7938.14 7946.65 7938.14 7946.65   16.07
425  1560004320000 7900.41 7902.81 7899.17 7901.60   14.29

## data filter
choosing the specified data

In [9]:
df['open'].head()

0   7907.46
1   7906.42
2   7908.07
3   7914.99
4   7916.52
Name: open, dtype: float64

In [10]:
df[['open','high']].head()

     open    high
0 7907.46 7910.61
1 7906.42 7912.09
2 7908.07 7917.71
3 7914.99 7918.59
4 7916.52 7918.70

In [11]:
# add one column
df["index"] = [i for i in range(df.shape[0])]
df.tail()

         open_time    open    high     low   close  volume  index
995  1560038520000 7912.24 7919.00 7910.03 7915.57   14.19    995
996  1560038580000 7915.74 7922.00 7914.79 7918.30   26.86    996
997  1560038640000 7916.93 7918.35 7913.69 7916.04   11.38    997
998  1560038700000 7916.98 7919.78 7913.18 7915.09   21.73    998
999  1560038760000 7915.71 7917.87 7913.18 7915.18    3.03    999

In [12]:
# calculate the trade amount
df['trade_amount'] = df['close']*df['volume']
df.head()

       open_time    open    high     low   close  volume  index  trade_amount
0  1559978820000 7907.46 7910.61 7905.03 7906.25   12.03      0      95130.96
1  1559978880000 7906.42 7912.09 7905.10 7910.13    9.97      1      78858.89
2  1559978940000 7908.07 7917.71 7907.00 7914.33   20.82      2     164800.59
3  1559979000000 7914.99 7918.59 7912.92 7917.43    7.13      3      56423.05
4  1559979060000 7916.52 7918.70 7913.16 7914.09   10.47      4      82898.48

## timestamp transformation
from ms timestamp to UTC time, then to UTC+8 timezone

In [13]:
df["open_time1"] = pd.to_datetime(df["open_time"], unit='ms')+ pd.Timedelta(hours=8)
df.head()

       open_time    open    high     low   close  volume  index  trade_amount          open_time1
0  1559978820000 7907.46 7910.61 7905.03 7906.25   12.03      0      95130.96 2019-06-08 15:27:00
1  1559978880000 7906.42 7912.09 7905.10 7910.13    9.97      1      78858.89 2019-06-08 15:28:00
2  1559978940000 7908.07 7917.71 7907.00 7914.33   20.82      2     164800.59 2019-06-08 15:29:00
3  1559979000000 7914.99 7918.59 7912.92 7917.43    7.13      3      56423.05 2019-06-08 15:30:00
4  1559979060000 7916.52 7918.70 7913.16 7914.09   10.47      4      82898.48 2019-06-08 15:31:00

## data locate
fing exactly data in specified position
- loc[row range, column name]
- iloc[row range, column range]

In [14]:
# select the first row
df.loc[0]

open_time             1559978820000
open                        7907.46
high                        7910.61
low                         7905.03
close                       7906.25
volume                        12.03
index                             0
trade_amount               95130.96
open_time1      2019-06-08 15:27:00
Name: 0, dtype: object

In [15]:
# select the first 3 row
df.loc[0:2]

       open_time    open    high     low   close  volume  index  trade_amount          open_time1
0  1559978820000 7907.46 7910.61 7905.03 7906.25   12.03      0      95130.96 2019-06-08 15:27:00
1  1559978880000 7906.42 7912.09 7905.10 7910.13    9.97      1      78858.89 2019-06-08 15:28:00
2  1559978940000 7908.07 7917.71 7907.00 7914.33   20.82      2     164800.59 2019-06-08 15:29:00

In [16]:
# select two columns
df.loc[:,['open','close']].head()

     open   close
0 7907.46 7906.25
1 7906.42 7910.13
2 7908.07 7914.33
3 7914.99 7917.43
4 7916.52 7914.09

In [17]:
# select the data of 'open' in first row
df.loc[0,'open']

7907.46

## statistic functions

In [18]:
df['close'].mean()

7893.473650000001

In [19]:
# multi column, one calculate
df[['close','volume']].mean()

close    7893.47
volume     15.89
dtype: float64

In [20]:
# multi column, one calculate, use axis=1 means by row
# this is not correct
df[['close','volume']].mean(axis=1).head()

0   3959.14
1   3960.05
2   3967.58
3   3962.28
4   3962.28
dtype: float64

In [21]:
# one column, multi calculate
df['close'].agg(['max','min','std','mean','count','median'])

max      7998.01
min      7768.78
std        53.40
mean     7893.47
count    1000.00
median   7905.03
Name: close, dtype: float64

In [22]:
df['close'].quantile(0.25)

7844.885